.main {
    transition: transform .5s;
    padding: 1rem;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

:any-link {
    text-decoration: none;
    line-break: anywhere;
}

#menu-main {
    display: flex;
}