.main {
    transition: transform .5s;
    padding: 1rem;
    max-width: 40rem;
    margin: auto;
}

.slidein {
    transform: translateX(15rem);
}

:any-link {
    text-decoration: none;
}

#menu-main {
    display: flex;
}